.horizontal-list {
	list-style: none; 
	padding: 0; 
	margin: 0; 
	display: flex; 
	justify-content: center;
	align-items: center;
}

.horizontal-list li {
	margin-right: 0px; 
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #1a1a1a; 
	color: lightgray; 
	padding: 10px;
}

.navbar a:hover {
	background-color: #737373
}

.navbar a {
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
	padding: 10px;
	border-left: 1px solid #737373;
	border-right: 1px solid #737373;
}

.content {
	padding: 20px;
	margin-top: 20px;
	width: 500px; 
	margin: 0 auto;
	text-align: left;
	font-size: large;
	padding: 100;
	list-style-position: inside;

}

.jumpTo {
	padding: 20px;
	border-bottom: 1px solid;
}

input[type="submit"], input[type="reset"], button {
    background-color: #0077b6;
    color: #fff;
    border: none;
    padding: 10px 20px;
}

.sectionRow{
	display: flex;
}

.sectionRow input{
	display:inline-block;
	margin: 5px;
}

.sectionRow label{
	display:block;
	font-size: large;
	margin-left: 5px;
}
.sectionRow h3{
	display: inline;
	padding: 0px;
	margin-bottom: 0px;
}

.sectionRow select {
	display: inline-block;
	margin: 5px;
	border: 1px;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	padding: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.sectionColumn{
	display:inline-block;

}

.sectionColumn p {
	width: 100px;
}

.hideP{
	display: inline;
	color:#737373;
	font-size: medium;
}
.ageButton {
	margin-left: 20px;
}