html{
	scroll-behavior: smooth;
}


.ourhorizontal-list {
	list-style: none; 
	padding: 0; 
	margin: 0; 
	display: flex; 
	justify-content: center;
	align-items: center;
}

body{
	background-image: linear-gradient(to bottom,rgb(222, 233, 242),rgb(181, 177, 177));
	background-attachment: fixed;
	

}

.ourForm{
	max-width: 900px; 
	margin: auto;
	background-color:whitesmoke;
	padding: 15px;
	border-style: solid;
	border-radius: 5px;
	border-color: #1a1a1a;
	box-shadow: #070707;

}
.ourhorizontal-list li {
	margin-right: 0px; 
}

.ourNavBar {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-basis: 100px;
	text-align: center;
	background-color:rgb(222, 233, 242,.0); 
	padding: 10px;
	padding-bottom: 0px;
	width: 100%;
	justify-content: center;
	z-index:10;
	transition: 0.2s;
}

.ourNavBar a:hover {
	background-color: #737373;
	transition: 0.2s;
}

.ourNavBar a {
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
	padding: 10px;
	border-left: 1px solid #737373;
	border-right: 1px solid #737373;
	z-index: 0;
}

.content {
	padding: 20px;
	width: 500px; 
	margin: 0 auto;
	text-align: left;
	font-size: large;
	font-family: Arial, Helvetica, sans-serif;
	list-style-position: inside;
	display: flex;
	justify-content: center;
	

}

.jumpTo {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid;
}




/* Start of John Foster CSS code */

.ageButton {
	margin-left: 20px;
}
.exampleText{
	color: #737373;
	font-size: smaller;
}
.standardRowHieght{
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 100px;
}

.is-incorrect {

	.exampleText{
		color: red;
		font-size: medium;
	}
	
}
.is-incorrect input{
	border: none;
	outline-style: solid;
	outline-width: 1px;
	outline-color: rgb(248, 1, 1);	
}
.is-incorrect textarea{
	border: none;
	outline-style: solid;
	outline-width: 1px;
	outline-color: rgb(248, 1, 1);	
}

.is-incorrect input:focus-within, textarea:focus-within{
	outline-style: solid;
	outline-width: 5px;
	outline-color: rgb(247, 157, 157);
	opacity: 80%;
	transition: .05s;
	
}
.is-incorrect textarea:focus-within{
	outline-style: solid;
	outline-width: 5px;
	outline-color: rgb(247, 157, 157);
	opacity: 80%;
	transition: .05s;
	
}
.was-validated textarea{
	outline: green;

}
.complete{
	background-color: green;
	transition: 0.2s;
}
.incomplete{
	background-color: black;
	transition: 0.2s;

}
.submitIncomplete{
	background-color: #737373;
	transition: 0.2s;
}

/* End of John Foster CSS code */

/* Start of Hayden's CSS*/
#referenceTable th {
	font-weight: normal;
}
#referenceTable td,
#referenceTable th {
	text-align: center;
}
#referenceTable input,
#referenceTablerea {
	margin: 0 auto;
	text-align: left; 
}
/* End of Hayden's CSS*/