.ourhorizontal-list {
	list-style: none; 
	padding: 0; 
	margin: 0; 
	display: flex; 
	justify-content: center;
	align-items: center;
}

.ourhorizontal-list li {
	margin-right: 0px; 
}

.ourNavBar {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-basis: 100px;
	text-align: center;
	background-color: #1a1a1a; 
	color: lightgray; 
	padding: 10px;
	width: 100%;
	justify-content: center;
	z-index:10;
}

.ourNavBar a:hover {
	background-color: #737373
}

.ourNavBar a {
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
	padding: 10px;
	border-left: 1px solid #737373;
	border-right: 1px solid #737373;
}

.content {
	padding: 20px;
	width: 500px; 
	margin: 0 auto;
	text-align: left;
	font-size: large;
	font-family: Arial, Helvetica, sans-serif;
	list-style-position: inside;
	display: flex;
	justify-content: center;

}

.jumpTo {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid;
}


input[type="submit"], input[type="reset"], button {
    background-color: #0077b6;
    color: #fff;
    border: none;
    padding: 10px 20px;
}

/* Start of John Foster CSS code */
/* Section Row and section columns creates rows that fills the container. You can add
	X amount of coulmns to these rows. Coulmns content will stack vertically. */
.sectionRow{
	display: flex;
	
}

.sectionRow input{
	margin: 10px;
}

.sectionRow select{
	display:inline-block;
}

.sectionRow label{
	display:block;
	font-size: large;
	margin-left: 5px;
}


.sectionRow h3{
	display: inline;
	padding: 0px;
	margin-bottom: 0px;
}

.sectionRow select {
	display: inline-block;
	margin: 5px;
	border: 1px;
	border-color:#737373;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	padding: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
}


.sectionColumn{
	display:flex;
	gap: 2px;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;

}

.sectionColumn p {
	width: 100%;
}

.hideP{
	display: inline;
	color:#737373;
	font-size: medium;
}
.ageButton {
	margin-left: 20px;
}
.exampleText{
	color: #737373;
	font-size: smaller;
}

/* ENd of John Foster CSS code */